@mixin drop {
  background: #2b2b2b;
  box-shadow: 4px 7px 5px -3px rgba(35, 32, 32, 0.75),
  -1px -1px 1px 0 rgba(255, 255, 255, 0.3);

}

.dropdown{
  z-index: 5;
  position: relative;
}

.dropdown__title{
  @include drop;
  color: white;
  transition: .7s;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  padding: 3px 10px 4px 15px;
  box-shadow: 4px 7px 5px -3px rgba(35, 32, 32, 0.75),
  -1px -1px 1px 0 rgba(255, 255, 255, 0.3);
}

.dropdown__list {
  z-index: 10;
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 120% ;
  @include drop;
  transition: .7s;
  max-height: 0px;
  border-radius: 5px;
}

.dropdown__list--active {
  max-height: 300px;
}

.dropdown__content{
  z-index: 5;
  padding: 5px 15px;
}