.control{
  position: relative;
  //border: 1px solid white;
  flex-basis: 300px;
  //flex-grow: 1;
  min-width: 300px;
  min-height: 100%;
  border-radius: 7px;
  background: #292829;
}

.strap{
  transition: .7s;
  cursor: pointer;
  background: rgba(20, 73, 114, 0.4);
  color: white;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 150px;
  z-index: 3;
  transform: translate(100%);
  //border: 1px solid white;
  border-radius: 0px 50px 50px 0px;
  width: 50px;
  height: 50px;
  display: none;
}

.strap:hover{
  background: rgba(20, 73, 114, 0.78);

}

@media (max-width: 920px) {
  .control{
    max-width: 200px;
    min-width: 200px;
  }
}
@media (max-width: 810px) {
  .strap{
    display: flex;
  }
  .control{
    transition: .7s;
    position: absolute;
    transform: translate(-100%);
    z-index: 3;
    min-width: 250px;
  }
  .control--open{
    transform: translate(0%);
  }
}