.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(48deg, rgb(35,47,49) -50%, rgb(38, 37, 37) 27%, rgba(34, 34, 40, 0.89) 78%, rgb(46, 56, 56) 150%);
}


